{% extends "base.html" %}
{% load static %}
{% block title %}{{ user }} Profilis {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ user }} profilis</h1>
{% if user.profile.photo %}
    <img class="profile-photo" src="{{ user.profile.photo.url }}">
{% else %}
    <img class="profile-photo" src="{% static "user_profile/img/user.jpeg" %}">
{% endif %}
<p>Vartotojas: {{ user.first_name }} {{ user.last_name }} </p>
<p>El. pastas: {{ user.email }}</p>
<p><a href="{% url "profile_update" %}" class="btn">Atnaujinti</a></p>
{% endblock content %}