<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Geras servisas{% endblock title%}</title>
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
    <style></style>
</head>
<body>
    <header>
        <ul class="nav">
            <li class="logo">Geras servisas</li>
            <li><a href="{% url "index" %}">Pagrindinis</a></li>
            <li><a href="{% url "orders" %}">Uzsakymai</a></li>
            <li><a href="{% url "brand" %}">Brand'ai</a></li>
            <li><a href="{% url "contact" %}">Kontaktai</a></li>
            <li class="spacer"></li>
            {% if user.is_authenticated %}
                {% if user.is_superuser or user.is_staff %}
                    <li><a href="{% url "admin:index" %}">Administratorius</a></li>
                {% endif %}
                <li><a href="{% url "profile" %}">{{ user.username }}</a></li>
                <li><a href="{% url "logout" %}">Atsijungti</a></li>
            {% else %}
                <li><a href="{% url "login" %}">Prisijungti</a></li>
                <li><a href="{% url "signup" %}">Registruotis</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        {% if messages %}
            {% for message in messages %}
            <div class="box box-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2023 Geras Servisas</p>
    </footer>
    
</body>
</html>